---
import Input from '$/components/form.input.astro';
import Submit from '$/components/form.submit.astro';
import {processSignup, type UseForm} from '$/lib/server/utils';
import type {Signup} from '$/lib/utils';

export const partial = true;

let {formy} = Astro.props;
if (!formy) formy = await processSignup(Astro);

const {form} = formy;
if (Astro.request.method === 'POST' && form.valid) Astro.response.headers.set('HX-Refresh', 'true');

export type Props = {formy: UseForm<Signup>};
---

<form id="signup" method="post" class="flex w-full flex-col">
  {form.errors.formErrors.length > 0 && <div class="alert alert-error">{form.errors.formErrors.join('<br />')}</div>}
  <Input {form} name="forename" label="Prénom" />
  <Input {form} name="surname" label="Nom" />
  <Input {form} name="avatar" type="url" label="Avatar" />
  <Input {form} name="email" type="email" label="Courriel" autocomplete="username" />
  <Input {form} name="password" type="password" label="Mot de passe" autocomplete="new-password" />
  <Submit {form} label="Je m'inscris" />
</form>
